th, td {
    border: 1px solid #777;
    padding: 3px;
    text-align: left;
    font-size: 14px;
}
.list-audios-btn {
    margin: 4px;
    padding: 4px 12px;
    border-radius: 4px;
    background-color: #936d40;
    cursor: pointer;
}
.list-audios-btn:hover{
    opacity: 0.8;
}
.list-audios{
    margin-top: 12px;
    width: 100%;
    margin-right: 4px;
}
table th {
    color: var(--primary-color);
}

.audio {
    cursor: pointer;
}
.audio.selected {
  background-color: #858045;
}
.audio:hover {
    background-color: #55522e;;
}

/* Form  */
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    color: orange;
    font-weight: bold;
  }
  
  table {
    width: 60%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid gray;
  }
  
  
