.form-section {
    width: 28%;
    height: 100vh;
    padding: 0 6px;
    background-color: #121212;
    margin-left: 4px;
    border-radius: 6px;
    position: relative;
    position: fixed;
    top: 61px;
    right: 0px;
    z-index: 101;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    padding-bottom: 50px;
}
  
  .form-section input,.select  {
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ccc9b2;
  }

  .list-audios-section {
      flex-grow: 1;
  }
  .close {
    position: absolute;
    right: 7px;
    top: 7px;
    font-size: 23px;
    cursor: pointer;
  }
    .close:hover {
      opacity: 0.8;
    }
    input {
      width: 100%;
      margin-top: 8px;
      margin-bottom: 12px;

      padding: 3px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
.border-top {
    border-top: 1px solid #ccc9b2;
}
.select {
    margin: 8px 0;
    padding: 3px;
    width: 153px;
}
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  .section-name {
     margin-right: 6px;
     color: var(--primary-color);
    font-weight: 500;
  }
  .image img{
    width: 65px;
    height: 50px;
  
  }
  .audio audio{
      width: 190px;
      height: 30px;
  }
  .form-name {
    color: var(--primary-color);
    font-weight: 700;
    padding-top: 12px;
  }
  
  .audio-name {
    max-width: 150px;          /* Đặt chiều rộng cố định */
    white-space: nowrap;        /* Không cho phép xuống dòng */
    overflow: hidden;           /* Ẩn phần vượt quá */
    text-overflow: ellipsis; 
  }
  .date {
      width: 77px;
  }
  .change-btn {
      background-color: transparent;
      border: 2px solid var(--primary-color); 
      border-radius: 50%;
      padding: 4px 6px;
      font-size: 16px;
      cursor: pointer;
      color: var(--primary-color);
      margin-left: 4px
  }
  .change-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
  .image-preview > img {
     width: 120px;
     border-radius: 4px;
     margin-bottom: 10px;
  }
  input:focus, .select:focus{
    outline: none; /* Loại bỏ đường viền mặc định */
    border: 2px solid var(--primary-color); 
  
  }
  .image-preview > audio {
    width: 100px;
    height: 50px;
  } 
  .control-btn{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc9b2; 
    margin-top: 12px;
    padding: 12px
  }
  .control-btn .btn {
      background-color: transparent;
      border: 2px solid var(--primary-color); 
      border-radius: 8px;
      padding: 8px 12px;
      /* width: 100%; */
      font-size: 16px;
      cursor: pointer;
      color: #fff;
      margin: 12px 0;
  }
  .control-btn .btn:hover {
    background-color: var(--primary-color);
    color: #fff;
  }

  /*  Dropdown-results*/
#searchInput {
  position: relative;
}
.dropdown-results {
  position: absolute;
  background-color: #fff;
  color: #232323;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  top: 84px;
  width: 100%;
}
.result-item:hover {
  opacity: 0.8;
}